doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    title Ipad Slider
    meta(name="description" content="")
    meta(name="keywords" content="")

    link(rel="stylesheet" href="lib/fotorama/fotorama.css")
    link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.min.css")

    // additional css
    block css
  body
    #wrapper


      block content

    // additional script11
    script(type="text/javascript" src="lib/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="lib/fotorama/fotorama.js")
    script(type="text/javascript" src="js/main.js")
    block scripts