.rss-feed
    each article in articles
        .rss-feed__item
            .rss-feed__date= article.pubDate
            a(href=article.link target="_blank")= article.title
            .rss-feed__content!= article.description
