.slide {
  padding: 20px;
  .slide__title {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 0 15px; line-height: 1;
    border-bottom: 1px $cl-color solid;
    margin-bottom: 15px;
    span {
      padding-left: 10px;
      font-weight: normal;
      color: #333;
      font-size: 14px;
    }
  }
}

.rss-feed {
  .rss-feed__item {
    padding-bottom: 20px;
    border-bottom: 1px #eee solid;
    margin-bottom: 20px;
    .rss-feed__date {
      color: #828282;
      font-size: 13px;
    }
    >a {
      font-size: 25px;
      display: inline-block;

    }

    .rss-feed__content {
      font-size: 16px;
    }
  }
}

.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

  h3 {
    font-size: 16px;
  }
}

.weather {
  .weather__today {
    margin-bottom: 20px;
    border-bottom: 1px #eee solid;

    h2 {
      font-size: 40px;
      margin: 0 0 10px;
      line-height: 1;
      span {
        padding-left: 20px;
        font-weight: bold;

      }
    }

    .weather__code {
      p {
        margin: 0;
        vertical-align: top;
        span.weather__code-text {
            vertical-align: top;
            font-size: 20px;
            padding-left: 15px;
            line-height: 70px;
        }
      }
    }
  }

  .weather__forecasts {
    .weather__forecast {
      text-align: center;
      padding: 10px;
      //border: 1px #eee solid;

      >div {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px #eee solid;
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }

      }

      .weather__forecast-date {
        font-style: italic;
        font-size: 18px;
      }

      .weather__forecast-temp {
        .low {
          color: #444;
          font-size: 15px;
          padding-left: 15px;
        }
        .high {
          font-size: 25px;
          font-weight: bold;
        }
      }
    }
  }
}

.weather-icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;

  &.weather-icon-1 {
    background-image: url('../img/weather/1.png');
  }

  &.weather-icon-2 {
    background-image: url('../img/weather/2.png');
  }
  &.weather-icon-3 {
    background-image: url('../img/weather/3.png');
  }

  &.weather-icon-4 {
    background-image: url('../img/weather/4.png');
  }
  &.weather-icon-5 {
    background-image: url('../img/weather/5.png');
  }
  &.weather-icon-6 {
    background-image: url('../img/weather/6.png');
  }
  &.weather-icon-7 {
    background-image: url('../img/weather/7.png');
  }
  &.weather-icon-8 {
    background-image: url('../img/weather/8.png');
  }
  &.weather-icon-9 {
    background-image: url('../img/weather/9.png');
  }
  &.weather-icon-10 {
    background-image: url('../img/weather/10.png');
  }

  &.weather-icon-11 {
    background-image: url('../img/weather/11.png');
  }
  &.weather-icon-12 {
    background-image: url('../img/weather/12.png');
  }
  &.weather-icon-13 {
    background-image: url('../img/weather/13.png');
  }
  &.weather-icon-14 {
    background-image: url('../img/weather/14.png');
  }
  &.weather-icon-15 {
    background-image: url('../img/weather/15.png');
  }
  &.weather-icon-16 {
    background-image: url('../img/weather/16.png');
  }

  &.weather-icon-17 {
    background-image: url('../img/weather/17.png');
  }
  &.weather-icon-18 {
    background-image: url('../img/weather/18.png');
  }
  &.weather-icon-19 {
    background-image: url('../img/weather/19.png');
  }
  &.weather-icon-20 {
    background-image: url('../img/weather/20.png');
  }

  &.weather-icon-26 {
    background-image: url('../img/weather/26.png');
  }

  &.weather-icon-27 {
    background-image: url('../img/weather/27.png');
  }

  &.weather-icon-28 {
    background-image: url('../img/weather/28.png');
  }

  &.weather-icon-29 {
    background-image: url('../img/weather/29.png');
  }

  &.weather-icon-30 {
    background-image: url('../img/weather/30.png');
  }

  &.weather-icon-39 {
    background-image: url('../img/weather/39.png');
  }

  &.weather-icon-30 {
    background-image: url('../img/weather/30.png');
  }

  &.weather-icon-46 {
    background-image: url('../img/weather/46.png');
  }
}

.instagram {
  padding: 10px;
  background: #e5e5e5;
}

.instagram-item {
  padding: 10px;
  background: white;
  border-radius: 10px;
  .instagram-item__title {
    a {
      display: block;  
    }
    span {
      display: block;
    }
    
  }
  
}