.slide {
  padding: 20px;
  .slide__title {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 0 15px; line-height: 1;
    border-bottom: 1px $cl-color solid;
    margin-bottom: 15px;
    span {
      padding-left: 10px;
      font-weight: normal;
      color: #333;
      font-size: 14px;
    }
  }
}

.rss-feed {
  .rss-feed__item {
    padding-bottom: 20px;
    border-bottom: 1px #eee solid;
    margin-bottom: 20px;
    .rss-feed__date {
      color: #828282;
      font-size: 13px;
    }
    >a {
      font-size: 25px;
      display: inline-block;

    }

    .rss-feed__content {
      font-size: 16px;
    }
  }
}