extends ./layout/layout

block content
  .fotorama(data-allowfullscreen="true" data-width="100%" data-height="100%" data-autoplay="15000")
      each slide in slides
          div.slide
              .slide__title= slide.resource.name
                  span
                    :php
                      | echo $slide->resource->getAgo();
              .slide__content!= slide.resource.html