extends ./layout/layout
block content
    div.slide
        .slide__title News
            span 2015-12-12 12:00:00
        .slide__content
            each i in [1,2,3,4]
                .rss-feed
                    .rss-feed__item
                        .rss-feed__preview
                            a(href="#"): img(src="http://realty.vyksa.org/uploads/08112015/31c287f04bb1d4a621e24a7b4a5099e203138485_thumb.JPG" alt="" class="img-responsive")
                        .rss-feed__content
                            .rss-feed__date 12 апреля
                            a(href="#" target="_blank") Заголовок новости
                            .rss-feed__text Описанеи новости

    div.slide
        .slide__title Resource Name
            span 2015-12-12 12:00:00
        .slide__content
            .instagram.-small
                each photo in [1,2,3,4,5,6,7,8,9,10]
                    .instagram-item
                        .instagram-item__title
                            strong vyksa_v_kurse
                        a(href="#"): img(src="https://scontent.cdninstagram.com/hphotos-xat1/t51.2885-15/s320x320/e35/12120274_1640635489510849_1658411502_n.jpg")
                        .instagram-item__comment 5 минут назад
